.app {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  background: #2c2c2c;
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.document-name-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

